<%= form_for(@requirement, :url => manager_requirement_path(id: @requirement.id), method: :patch) do |f| %>
  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <label class="font-noraml">Title</label>
      <input name="requirement[title]" type="text" class="form-control" value="<%= @requirement.title %>" placeholder="Enter a title" required>
    </div>
  </div>
  <div class="row">  
    <div class="form-group col-xs-4 col-md-6">
      <label class="font-noraml">Skills</label>
    	<%= f.select :skills,
    		Skill.all.map { |u| [u.name, u.name] },
                 { include_blank: true, selected: @requirement.skills},
                 { class: 'chosen-select form-control', id: "skill_select", :multiple => true, :data => { :placeholder => ''} }
  	  %>
    </div>
    <div class="form-group col-xs-12 col-md-6">
      <label class="font-noraml">Experience</label>
      <input name="requirement[experience]" type="text" class="form-control" value="<%=@requirement.experience %>" placeholder="Experince level" required>
    </div>    
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-md-6">
      <label class="font-noraml">City</label>
      <input name="requirement[state]" type="text" class="form-control" value="<%=@requirement.city %>" placeholder="City" required>
    </div>

    <div class="form-group col-xs-12 col-md-6">
      <label class="font-noraml">State</label>
      <input name="requirement[city]" type="text" class="form-control" value="<%=@requirement.state %>" placeholder="State" required>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <label class="font-noraml">Description</label>
      <textarea name="requirement[description]" type="text" class="form-control" value="<%= @requirement.description%>" placeholder="Enter a title" required></textarea>
    </div>
  </div>  
  <%= f.submit "Save", class: "btn btn-info" %>
<% end %> 